.kitchen/
.kitchen.local.yml
kitchen/
Policyfile.lock.json
.kitchen.docker.yml
Berksfile.lock
.rakeTasks
.DS_Store
.bundle/
vendor/
.rspec_status

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Chef files
.chef
.zero-knife.rb
.envrc

# Log files
*.log
EOF < /dev/null