# Ruby and Bundler
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
_Store
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
*.tmp
*.bk
*.bkup

# Test Kitchen
.kitchen/
.kitchen.local.yml
kitchen.local.yml

# Chef Infra
.chef/
Berksfile.lock
Gemfile.lock
Policyfile.lock.json
.zero-knife.rb

# Documentation
_site/
.yardoc/
doc/

# IDE
.idea/
*.iml
.vscode/
*.sublime-*

# OS
.DS_Store
Thumbs.db
ehthumbs.db

# Vagrant
.vagrant/

# Python
__pycache__/
*.pyc

# Logs
*.log

# Temporary files
*.swp
*.swo
*~

# Terraform
.terraform/
.terraform.*
terraform.tfstate
terraform.tfstate.backup
**/.terraform/
**/.terraform.*
**/terraform.tfstate
**/terraform.tfstate.backup
crash.log
crash.*.log
*.tfvars
*.auto.tfvars
!*.example.tfvars
.terraform.lock.hcl
